<?xml version="1.0" encoding="utf-8" ?>
<hibernate-configuration xmlns="http://www.hibernate.org/xsd/orm/cfg">
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/pulvinar</property>
        <property name="connection.username">root</property>
        <property name="connection.password">1636</property>
        <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>

        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>

        <property name="hibernate.hbm2ddl.auto">update</property>
        <mapping class="com.example.pulvinar.tables.User"/>
        <mapping class="com.example.pulvinar.tables.Order"/>
        <mapping class="com.example.pulvinar.tables.OrderId"/>
        <mapping class="com.example.pulvinar.tables.Product"/>
    </session-factory>
</hibernate-configuration>